{{ $emojis := dict
"important" ""
"note" ""
"tip" ""
"warning" ""
"success" ""
}}

{{ if eq .Type "alert" }}
<div>
    <p class="alert-heading alert-heading-{{ .AlertType }}">
        {{ transform.Emojify (index $emojis .AlertType) }}
        {{ with .AlertTitle }}
        {{ . }}
        {{ else }}
        {{ or (i18n .AlertType) (title .AlertType) }}
        {{ end }}
    </p>
    <div class="alert-text alert-{{ .AlertType }}">
        {{ .Text }}
    </div>
</div>
{{ else }}
<blockquote>
    {{ .Text }}
</blockquote>
{{ end }}