{{ $emojis := dict
"important" ""
"note" ""
"tip" ""
"warning" ""
"success" ""
}}

{{ if eq .Type "alert" }}
    <div class="callout callout-{{ .AlertType }}">
        <h4>
            {{ transform.Emojify (index $emojis .AlertType) }}
            {{ with .AlertTitle }}
            {{ . }}
            {{ else }}
            {{ or (i18n .AlertType) (title .AlertType) }}
            {{ end }}
        </h4>
        <p>
            {{ .Text }}
        </p>
    </div>
{{ else }}
    <blockquote>
        {{ .Text }}
    </blockquote>
{{ end }}