{{ define "main" }}
  <article class="post-content">
    {{ .Content }}
    {{ if .Data.Singular }}
      <h2 class="blog-filter">{{ i18n "filtering-for" }} "{{ .Title }}"</h2>
    {{ end }}
    <ul class="blog-posts">
      {{ range .Pages }}
        <li>
          <span>
            <time datetime="{{ .Date.Format "2006-01-02" }}">
              {{ partial "format-date.html" .Date }}
            </time>
          </span>
          {{ if .Params.link }}
            <a
              href="{{ .Params.link }}"
              target="_blank"
              rel="noopener noreferrer"
              >{{ .Title }} ↪</a
            >
          {{ else }}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          {{ end }}
        </li>
      {{ else }}
        <li>
          {{ i18n "no-posts" }}
        </li>
      {{ end }}
    </ul>
    {{ if not .Data.Singular }}
      <ul class="tag-cloud">
        {{ range .Site.Taxonomies.tags }}
          <li>
            <a class="pill blog-tags" href="{{ .Page.RelPermalink }}"
              >{{ lower .Page.Title }}</a
            >
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </article>
{{ end }}
