<link rel="canonical" href="{{ .Permalink }}" />
<link rel="preload" href="/fonts/manrope-v20-latin-regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/bricolage-grotesque-v9-latin-700.woff2" as="font" type="font/woff2" crossorigin />

{{ $styles := resources.Get "css/main.css" | minify }}
<style>{{ $styles.Content | safeCSS }}</style>
{{ if findRE `class="chroma"` .Content }}
  {{ $syntax := resources.Get "syntax.css" | minify }}
  <style>{{ $syntax.Content | safeCSS }}</style>
{{ end }}
{{ if .Params.math }}
  {{ $katex := resources.Get "katex/katex.min.css" }}
  {{ $katexCSS := replace $katex.Content "url(fonts/" "url(/katex/fonts/" }}
  <style>{{ $katexCSS | safeCSS }}</style>
{{ end }}
