{{ $fontsHref := "https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,400;12..96,600;12..96,700&family=JetBrains+Mono:wght@400&family=Manrope:wght@400;600;700&display=swap" }}
{{ $katexHref := printf "https://cdn.jsdelivr.net/npm/katex@%s/dist/katex.min.css" .Site.Params.katexVersion }}
{{ $katexIntegrity := "sha384-irXK0JiCGinqGL+slwVklbhJetrjczNwaP2lANewD8lKAs9n61SbQ3As28iSqXUE" }}

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net" />
<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  rel="preload"
  as="style"
  href="{{ $fontsHref }}"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="{{ $fontsHref }}" />
</noscript>

{{ $styles := resources.Get "css/main.scss" | css.Sass (dict "transpiler" "dartsass") | minify | fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

{{ if .Page.Store.Get "hasCodeBlock" }}
  {{ $syntax := resources.Get "syntax.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $syntax.RelPermalink }}" />
{{ end }}

{{ if .Params.math }}
  <link
    rel="preload"
    as="style"
    href="{{ $katexHref }}"
    integrity="{{ $katexIntegrity }}"
    crossorigin="anonymous"
    onload="this.onload=null;this.rel='stylesheet'"
  />
  <noscript>
    <link
      rel="stylesheet"
      href="{{ $katexHref }}"
      integrity="{{ $katexIntegrity }}"
      crossorigin="anonymous"
    />
  </noscript>
{{ end }}
